@tailwind base;
@tailwind components;
@tailwind utilities;

.card::before {
  background-size: cover;
  background-position: center;
}
.imageArea {
  width: 100%;
  height: 100%;
  position: relative;
  @apply sm:min-h-[228px];
}
.imageArea::after {
  width: 100%;
  height: 100%;
  position: absolute;
  background: #000;
}
